<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.automatics.packages.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="AutoMaTics"
            class="com.automatics.packages.Perspective"
            id="Automatics.perspective">
      </perspective>
   </extension>
   <extension
         id="views"
         point="org.eclipse.ui.views">
      <view
            class="com.automatics.packages.Views.ObjectMap"
            id="Automatics.ObjectMap"
            name="Object Map"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.TC_TS_List"
            id="Automatics.TestCase_TestSuite_List"
            name="Explorer"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.LogsView"
            id="com.automatics.pacakges.Views.LogView"
            name="Logs"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.AutomaticsView"
            id="com.automatics.pacakges.Views.AutomaticsView"
            name="Automatics View"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.ObjectList"
            id="com.automatics.pacakges.Views.OMList"
            name="Object List"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.ParameterView"
            id="com.automatics.pacakges.Views.Parametes"
            name="Parameters"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.ConfigParameter"
            id="com.automatics.pacakges.Views.ConfigParametersView"
            name="Config Parmaters"
            restorable="true">
      </view>
      <view
            class="com.automatics.packages.Views.TestCaseParamView"
            id="com.automatics.pacakges.Views.TestCaseParamView"
            name="Test Case Parameters"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="Automatics.perspective">
         <view
               closeable="false"
               id="Automatics.TestCase_TestSuite_List"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="Automatics.ObjectMap"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="com.automatics.pacakges.Views.OMList"
               minimized="false"
               relationship="stack"
               relative="Automatics.ObjectMap"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.automatics.pacakges.Views.ConfigParametersView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.automatics.pacakges.Views.TestCaseParamView"
               minimized="false"
               relationship="stack"
               relative="com.automatics.pacakges.Views.ConfigParametersView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <menu
                  label="New">
               <command
                     commandId="com.automatics.packages.new.Project"
                     label="Project"
                     style="push">
               </command>
               <command
                     commandId="com.automatics.packages.new.TestCase"
                     label="Test Case"
                     style="push">
               </command>
               <command
                     commandId="com.automatics.packages.new.TestSuite"
                     label="Test Suite"
                     style="push">
               </command>
               <command
                     commandId="com.automatics.packages.new.ObjectMap"
                     label="Object Map"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="com.automatics.packages.handler.exitHandler"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Editor">
            <command
                  commandId="com.automatics.packages.Editors.openEditor"
                  label="Open"
                  style="push"
                  tooltip="Open">
            </command>
         </menu>
         <menu
               label="Run">
            <command
                  commandId="com.automatics.packages.run.openRunUI"
                  label="Open Runner"
                  style="push">
            </command>
         </menu>
         <menu
               label="Team">
            <command
                  commandId="com.automatics.utilities.git.pullAll"
                  label="Pull All"
                  style="push">
            </command>
            <separator
                  name="gitMenuSeperator"
                  visible="true">
            </separator>
            <command
                  commandId="com.automatics.utilities.git.CommitAll"
                  label="Commit All"
                  style="push">
            </command>
            <command
                  commandId="com.automatics.utilities.git.pushAll"
                  label="Push"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.automatics.packages.Editors.TestCaseEditor"
            default="false"
            id="com.automatics.packages.Editors.editor"
            name="Test Case Editor">
      </editor>
      <editor
            class="automatics.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="automatics.editors.XMLEditor"
            name="Sample XML Editor">
      </editor>
      <editor
            class="com.automatics.packages.Editors.MyTextEditor"
            default="false"
            extensions="task"
            id="com.automatics.packages.Editors.texteditor"
            name="Text Editor">
      </editor>
      <editor
            class="com.automatics.packages.Editors.TestSuiteEditor"
            default="false"
            icon="images/icons/ts_logo.png"
            id="com.automatics.packages.Editors.tsEditor"
            name="TestSuite Editor">
      </editor>
      <editor
            class="com.automatics.packages.Editors.TCEditor"
            default="false"
            icon="images/icons/tc_logo.png"
            id="com.automatics.packages.Editors.tcEditor"
            name="TC Editor">
      </editor>
      <editor
            class="com.automatics.packages.Editors.ObjectMapEditor"
            default="false"
            icon="images/icons/om_logo.png"
            id="com.automatics.packages.Editors.omEditor"
            name="Object Map Editor">
      </editor>
   </extension>
   <extension
         id="command"
         name="command"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.automatics.packages.Handler.OpenEditor"
            id="com.automatics.packages.Editors.openEditor"
            name="Open Editor">
      </command>
      <command
            defaultHandler="com.automatics.packages.Handler.ExitHandler"
            id="com.automatics.packages.handler.exitHandler"
            name="Exit_Handler">
      </command>
      <command
            defaultHandler="com.automatics.packages.Handler.NewProject"
            id="com.automatics.packages.new.Project"
            name="NewProject">
      </command>
      <command
            defaultHandler="com.automatics.packages.Handler.NewTestCase"
            id="com.automatics.packages.new.TestCase"
            name="NewTestCase">
      </command>
      <command
            defaultHandler="com.automatics.packages.Handler.NewTestSuite"
            id="com.automatics.packages.new.TestSuite"
            name="NewTestSuite">
      </command>
      <command
            defaultHandler="com.automatics.packages.Handler.NewObjectMap"
            id="com.automatics.packages.new.ObjectMap"
            name="NewObjectMap">
      </command>
      <command
            defaultHandler="com.automatics.packages.Handler.OpenRunnerUI"
            id="com.automatics.packages.run.openRunUI"
            name="OpenRunUI">
      </command>
      <command
            defaultHandler="com.automatics.utilities.git.PullAllCommand"
            id="com.automatics.utilities.git.pullAll"
            name="PullAll">
      </command>
      <command
            defaultHandler="com.automatics.utilities.git.CommitAllCommand"
            id="com.automatics.utilities.git.CommitAll"
            name="CommitAll">
      </command>
      <command
            defaultHandler="com.automatics.utilities.git.PushAllCommand"
            id="com.automatics.utilities.git.pushAll"
            name="PushAll">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.automatics.packages.Handler.CallEditor"
            commandId="Automatics.callEditor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.jdt.launching.JavaLaunchDelegate"
            id="org.eclipse.jdt.launching.localJavaApplication"
            modes="run, debug"
            name="Local Java Application"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="Run"
            mode="%run">
      </launchMode>
      <launchMode
            label="Debug"
            mode="%debug">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.automatics.packages.run.LaunchConfiguration"
            id="com.automatics.configuration.TabGroups"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         id="automaticsProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="Automatics.application"
            name="AutoMaTics">
         <property
               name="appName"
               value="AutoMaTics">
         </property>
        
      </product>
   </extension>

</plugin>
